{{!-  {{concat "0 0 " highestTemperature " 24"}}
{{#with (hash
  high=(get (find-extreme-hour temperatureHours 'high') "temp.fahrenheight")
  low=(get (find-extreme-hour temperatureHours 'low') "temp.fahrenheight"))
  diff=(dec (get (find-extreme-hour temperatureHours 'high') "temp.fahrenheight")
     (get (find-extreme-hour temperatureHours 'low') "temp.fahrenheight"))
   as |temps|}}
  <svg version="1.2"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox={{concat "0 0 450 80"}}
      class="graph" aria-labelledby="title" role="img">
    {{#if title}}<title class="HourlyGraph-title">{{title}}</title>{{/if}}

    {{!- X Axis }}

    <g class="grid x-grid" class="HourlyGraph-xGrid">
      <line x1="0" x2="95%" y1="40" y2="40"></line>
    </g>

    <g class="labels x-labels">
      {{#each hourLabels as |day index|}}
        <text x={{inc 30 (multi index 35)}} y=60>{{moment-format day "h" "HH"}}</text>
        {{! Add AM/PM label at 12 am and 12 pm}}
        {{#if (or (eq index 0) (eq index 12))}}
          <text font-size="18" x={{inc 25 (multi index 35)}} y="80" class="fg-grey-200">{{moment-format day "A" "HH"}}</text>
        {{/if}}

      {{/each}}
    </g>

    {{!- Y Axis }}

    <g class="grid y-grid" class="HourlyGraph-yGrid">
      <line x1="0" x2="0" y1="0" y2="40"></line>
    </g>


    {{!- Data }}
    <g class="data" data-setname="Our first data set">
      {{#each temperatureHours as |hourInfo index|}}
        <text size="10" x={{inc 20 (multi index 35)}} y={{dec 30 (get hourInfo 'temp.fahrenheight')}}>{{hourInfo.temp.fahrenheight}}</text>
        <image height="15" href={{hourInfo.icon_url}}  x={{inc 20 (multi index 35)}} y={{dec 60 (get hourInfo 'temp.fahrenheight')}}></image>
        {{#if (eq index 0)}}
          <text font-size="11" x={{inc 10 (multi index 35)}} y="-20" class="label-title">Temperature (°F)</text>
        {{/if}}
      {{/each}}
    </g>
  </svg>
{{/with}}
