<section class="pad-xs VerticalLayout VerticalLayout--fullHeight between-xs WeatherNow">
  <section class="content">
    <header>
      <h1>Weather in {{observationLoc.full}}</h1>

    </header>


    <div class="font-size-20">
      <h3 class="flexrow ScrollText">Local time:  {{liquid-bind hours class="mar-xs-5l"}}:{{liquid-bind minutes}}{{liquid-bind ampm}}</h3>
      <h3>{{observationTime}}</h3>
    </div>
    {{temperature-extremes title="Today" comparingTemperature=temp temperatureHours=hourlyTemps}}

    <div class="flexrow">
      {{hourly-temperature-graph temperatureHours=morningTemps}}
      {{hourly-temperature-graph temperatureHours=nightTemps}}
    </div>

    <div class="mar-xs-15t border-xs-t pad-xs-5t">
      {{temperature-extremes title="This Week" temperatureHours=hourly10Temps}}
    </div>
  </section>

  <footer class="flexrow center-xs">
    <img src="https://www.wunderground.com/logos/images/wundergroundLogo_4c.jpg">
  </footer>

</section>
