<section class="pad-xs VerticalLayout VerticalLayout--fullHeight between-xs WeatherNow">
  <section class="content">
    <header class="flexrow">
      <span class="font-size-mega mar-xs-10r">Weather in</span>
      {{#power-select
        onchange=(queue (action (mut selectedCity)) (action "changeCity" selectedCity))
        options=allCities
        searchEnabled=false
        selected=selectedCity
        as |city|}}
        {{city.city}}
      {{/power-select}}
    </header>

    <div class="mar-xs-20b mar-xs-20t">
      <div class="font-size-20 font-600 mar-xs">Local time: {{liquid-bind hours use="toDown" class="mar-xs-5l"}}:{{liquid-bind minutes use="toDown"}}{{liquid-bind ampm use="toDown"}}{{liquid-bind observationTz class="mar-xs-5l"}}</div>
      <div>{{liquid-bind observationTime use="fade"}}</div>
    </div>

  <section class="mar-xs-20t">
    {{temperature-extremes title="Today" comparingTemperature=temp temperatureHours=hourlyTemps class=""}}
    {{temperature-extremes title="This Week" temperatureHours=hourly10Temps class=""}}
  </section>

  <section class="mar-xs-20t">
    <h5 >Today's Hourly Breakdowns</h5>
    <div class="flexrow">
        {{#liquid-bind morningTempsHashified use="toDown"}}
          {{hourly-temperature-graph temperatureHours=morningTemps}}
        {{/liquid-bind}}
        {{#liquid-bind nightTempsHashified use="toDown"}}
          {{hourly-temperature-graph temperatureHours=nightTemps}}
        {{/liquid-bind}}
    </div>
  </section>

  </section>

  <footer class="flexrow center-xs">
    <img src="https://www.wunderground.com/logos/images/wundergroundLogo_4c.jpg">
  </footer>

</section>
